<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    </head>
    <body>
        <div class="row">
            <div ng_include src="'tpl/menu.html'"></div>
            <div ng_include="'tpl/header.html'"></div>
        
            </div>
  
        <div class="container">
            <div class="row" id="pwd-container">
                <div class="col-md-4"></div>
                <div class="panel panel-primary">
                    <div class="text-right bg-success"><div class="text-capitalize text-uppercase text-white">Bienvenido! ({{vm.user}}) &nbsp; <a class="list-inline right" ng_click="vm.cerrarSesion();" href="#/sofiaApp">Salir</a></div></div>
                  
                    <div class="panel-title text-title-module">GESTION DE CLIENTES</div>
                    <div class="panel-body">
                        <div class="form-inline">
                        Search:
                        <input type ="text" class="form-control" ng_model="search" >
                        <button title="Agregar Registro" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                    
                         <button title="Actualizar Datos" class="btn btn-primary btn-lg" value="Actualizar" ng_click="vm.actualizar()"> <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                         </div>
                        <table class="table-hover table-bordered table-responsive table-condensed table">
                            <th>Nombre</th>
                            <th>Identificacion</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Mail</th>
                            <th>Tipo Cliente</th>
                            <th>Ciudad</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                            <tr ng_repeat="Cli in vm.tablaClientes| filter: search  | startFromGrid: vm.currentPage * vm.pageSize | limitTo: vm.pageSize">

                                <td>{{Cli.nombre_cliente}}</td>
                                <td>{{Cli.cedula_cliente}}</td>
                                <td>{{Cli.telefono_cliente}}</td>
                                <td>{{Cli.direccion_cliente}}</td>
                                <td>{{Cli.mail_cliente}}</td>
                                <td>{{Cli.EsJuridico}}</td>
                                <td>{{Cli.ciudad}}</td>
                                <td>
                                    <button title="Eliminar Registro" class="btn warning" ng_click="vm.deleteClie(Cli.id_cliente)"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                                <td><button title="Modificar Registro" ng_click="vm.mostrarCliente(Cli.id_cliente)" type="button" class="btn warning" data-toggle="modal" data-target="#myModal2">
                                                <span class="glyphicon glyphicon-wrench"></span>
                                            </button>
                                </td>
                            </tr>
                        </table>
                        <div class="center-block">
                            <button class="btn" type='button' ng-disabled='vm.currentPage == 0' ng-click='vm.currentPage = vm.currentPage - 1'>&laquo;</button>
                            <button class="btn" type='button' ng-disabled='vm.currentPage == vm.page.no - 1' ng-click='vm.setPage(page.no)' ng-repeat='page in vm.pages'>{{vm.page.no}}</button>
                            <!-- Navegar hacia adelante -->
                            <button class="btn" type='button' ng-disabled='vm.currentPage >= vm.data.length / vm.pageSize - 1' ng-click='vm.currentPage = vm.currentPage + 1'>&raquo;</button>
                            <!-- Button trigger modal -->
                            
                      
                        </div>
                    </div>
                    <div class="text-left bg-success text-white"><div class="text-capitalize text-uppercase">{{ vm.footer; }} </div></div>
                </div>
            </div>
        </div>     

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">MODIFICAR CLIENTES</h4>
                    </div>
                    <div class="modal-body">
                        <form ng_submit="vm.saveCliente();" >

                            <h2 class="h2 text-center bg-success">{{vm.aux1}}</h2>
                             <div class="row">
                                 <div class="col-md-2"><label for="producto">Tipo Cliente</label></div>
                                 <div class="col-md-4">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" ng_click="vm.dinamicoTextos(1);" class="radio-inline" ng_model="vm.tipoCLiente" value="1" namadio-inlinee="optradio">Persona Juridica
                                </label>    
                                </div>
                                     </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" ng_click="vm.dinamicoTextos(0);" class="radio-inline" ng_model="vm.tipoCLiente" value="0" name="optradio">Persona Natural
                                    </label>
                                </div>  
                                     
                             </div>
                            <div class="form-group-sm">
                                <div class="row">
                                    <div class="col-md-2">
                                    <label for="producto">{{vm.textoNombre}}</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input id="producto" type="text" name="nombreProducto" placeholder="{{vm.textoNombre}}" class="input input-sm" ng_model="vm.cliente.nombreCliente" required="true" />
                                    </div>
                                    <!-- <label for="producto">Apellido</label>
                                    <input id="producto" type="text" name="Apellido" placeholder="Apellido" class="form-control input-lg" ng_model="vm.cliente.apellidoCliente" /> -->
                                    <div class="col-md-2">
                                     <label for="producto">Telefono</label>
                                     </div>
                                    <div class="col-md-3">
                                    <input id="producto" type="text" name="Telefono" placeholder="Telefono" class="input input-sm" ng_model="vm.cliente.telefonoCliente" />
                                    </div>
                                </div>
                                   <div class="row"> 
                                    </div>
                                <div class="row"> 
                                    <div class="col-md-2">
                                    <label for="producto">Direccion</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input id="producto" type="text" name="Direccion" placeholder="Direccion" class="input input-sm" ng_model="vm.cliente.direccionCliente" />
                                    </div>
                                    <div class="col-md-2">
                                    <label for="producto">Email</label>
                                    </div>
                                    <div class="col-md-3">
                                   <input id="producto" type="email" name="Email" placeholder="@" class="input input-sm" ng_model="vm.cliente.emailCliente" />
                                     </div>
                                   
                                </div>
                             
                                <div class="row">  
                                    <div class="col-md-2">
                                    <label for="producto">{{vm.textoIdentificacion}}</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input id="producto" type="text" name="Identificacion" placeholder="{{vm.placeholder}}" class="input input-sm" ng_model="vm.cliente.identificacionCliente" />
                                    </div>
                                    <div class="col-md-2">
                                    <label for="producto" ng_show="vm.parametro===2">DV</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="input input-sm" ng_show="vm.parametro===2" ng_model="vm.cliente.dv" />
                                    </div>
                                   
                                </div>
                                <div class="row">  
                                <div class="col-md-2">
                                <label for="categorias">Ciudad</label>
                                </div>
                                <div class="col-md-4">
                                    <select id="ciudad" class="input input-sm" ng_model="vm.cliente.idCiudad">
                                    <option  ng_repeat="ciu in vm.ciudades" value="{{ciu.id_ciudad}}">{{ciu.ciudad}}</option>
                                    </select>
                                </div>
                                    </div>
                             <div class="row"> 
                                    <div class="col-md-4">
                                    <label for="iva">Aplica Retencion Iva</label>
                             </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" class="radio-inline" ng_model="vm.cliente.declaraIva" value="0" name="optradio">No
                                        </label>    
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" class="radio-inline" ng_model="vm.cliente.declaraIva" value="1" name="optradio">SI
                                        </label>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="retefuente">Aplica Retencion Fuente</label>
                                </div>
                                
                                <div class="radio-inline">
                                <label>
                                    <input type="radio" class="radio-inline" ng_model="vm.cliente.reteFuente" value="0" name="retencionOpt">No
                                </label>    
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" class="radio-inline" ng_model="vm.cliente.reteFuente" value="1" name="retencionOpt">SI
                                    </label>
                                </div>
                           </div>
                                <div class="row">
                                <div class="col-md-4">
                                    <label for="reteIca">Aplica Retencion ICA</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" class="radio-inline" ng_model="vm.cliente.reteIca" value="0" name="retencionIcaOpt">No
                                        </label>    
                                    </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" class="radio-inline" ng_model="vm.cliente.reteIca" value="1" name="retencionIcaOpt">SI
                                    </label>
                                </div>
                                    <input ng_show="vm.cliente.reteIca==1" id="milesIca" type="text" name="milesIca" placeholder="Tarifa ICA (MILES)" class="input input-sm" ng_model="vm.cliente.tarifaIca" />
                       </div>
                           
                            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Ingresar</button>
                        </form>      
                    </div>
                </div>
            </div>
            </div>
       </div>
        <!--______________________________________________________________ -->
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        
                            <h2 class="h2 text-center bg-success">MODIFICAR CLIENTES</h2>
                             <div class="row">
                                 <div class="col-md-2"><label for="producto">Tipo Cliente</label></div>
                                 <div class="col-md-4">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" ng_click="vm.dinamicoTextos(1);" class="radio-inline" ng_model="vm.tipoCLienteModificar" value="1" namadio-inlinee="optradio" ng_disabled="true">Persona Juridica
                                </label>    
                                </div>
                                     </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" ng_click="vm.dinamicoTextos(0);" class="radio-inline" ng_model="vm.tipoCLienteModificar" value="0" name="optradio" ng_disabled="true">Persona Natural
                                    </label>
                                </div>  
                                     
                             </div>
                            <div class="form-group-sm">
                                <div class="row">
                                    <div class="col-md-2">
                                    <label for="producto">{{vm.textoNombre}}</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input id="producto" type="text" name="nombreProducto" placeholder="{{vm.textoNombre}}" class="input input-sm" ng_model="vm.clienteModificar.nombre_cliente" required="true" />
                                    </div>
                                    <!-- <label for="producto">Apellido</label>
                                    <input id="producto" type="text" name="Apellido" placeholder="Apellido" class="form-control input-lg" ng_model="vm.cliente.apellidoCliente" /> -->
                                    <div class="col-md-2">
                                     <label for="producto">Telefono</label>
                                     </div>
                                    <div class="col-md-3">
                                    <input id="producto" type="text" name="Telefono" placeholder="Telefono" class="input input-sm" ng_model="vm.clienteModificar.telefono_cliente" />
                                    </div>
                                </div>
                                   <div class="row"> 
                                    </div>
                                <div class="row"> 
                                    <div class="col-md-2">
                                    <label for="producto">Direccion</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input id="producto" type="text" name="Direccion" placeholder="Direccion" class="input input-sm" ng_model="vm.clienteModificar.direccion_cliente" />
                                    </div>
                                    <div class="col-md-2">
                                    <label for="producto">Email</label>
                                    </div>
                                    <div class="col-md-3">
                                   <input id="producto" type="email" name="Email" placeholder="@" class="input input-sm" ng_model="vm.clienteModificar.mail_cliente" />
                                     </div>
                                   
                                </div>
                             
                                <div class="row">  
                                    <div class="col-md-2">
                                    <label for="producto">{{vm.textoIdentificacion}}</label>
                                    </div>
                                    <div class="col-md-4">
                                    <input id="producto" type="text" name="Identificacion" placeholder="{{vm.placeholder}}" class="input input-sm" ng_model="vm.clienteModificar.cedula_cliente" />
                                    </div>
                                    <div class="col-md-2">
                                    <label for="producto" ng_show="vm.parametro===2">DV</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="input input-sm" ng_show="vm.parametro===2" ng_model="vm.clienteModificar.DV" />
                                    </div>
                                   
                                </div>
                                <div class="row">  
                                <div class="col-md-2">
                                <label for="categorias">Ciudad</label>
                                </div>
                                <div class="col-md-4">
                                    <select id="ciudad" class="input input-sm" ng_model="vm.clienteModificar.ciudad">
                                    <option  ng_repeat="ciu in vm.ciudades" value="{{ciu.ciudad}}">{{ciu.ciudad}}</option>
                                    </select>
                                </div>
                                    </div>
                             <div class="row"> 
                                    <div class="col-md-4">
                                    <label for="iva">Aplica Retencion Iva</label>
                             </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" class="radio-inline" ng_model="vm.clienteModificar.declaraIva" value="0" name="optradio">No
                                        </label>    
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" class="radio-inline" ng_model="vm.clienteModificar.declaraIva" value="1" name="optradio">SI
                                        </label>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="retefuente">Aplica Retencion Fuente</label>
                                </div>
                                
                                <div class="radio-inline">
                                <label>
                                    <input type="radio" class="radio-inline" ng_model="vm.clienteModificar.reteFuente" value="0" name="retencionOpt">No
                                </label>    
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" class="radio-inline" ng_model="vm.clienteModificar.reteFuente" value="1" name="retencionOpt">SI
                                    </label>
                                </div>
                           </div>
                                <div class="row">
                                <div class="col-md-4">
                                    <label for="reteIca">Aplica Retencion ICA </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" class="radio-inline" ng_model="vm.clienteModificar.reteIca" value="0" name="retencionIcaOpt">No
                                        </label>    
                                    </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" class="radio-inline" ng_model="vm.clienteModificar.reteIca" value="1" name="retencionIcaOpt">SI
                                    </label>
                                </div>
                                    <input ng_show="vm.clienteModificar.reteIca==1" id="milesIca" type="text" name="milesIca" placeholder="Tarifa ICA (MILES)" class="input input-sm" ng_model="vm.clienteModoficar.tarifaIca" />
                       </div>
                           
                          <input type="text" hidden="true" ng_model="vm.clienteModificar.id_cliente" value ="{{vm.clienteModificar.id_cliente}}">
                        <button class="btn btn-lg btn-primary btn-block " ng_click="vm.modificarCliente(vm.clienteModificar.id_cliente)">Modificar Registro </button>
                    
                        </form>      
                    </div>
                </div>
            
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                  </div>
            </div>
        <div class="col-md-4"></div>
    </body>
</html>

