<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <description>Llamado a procedimientos y validaciones con el login</description>
        <display-name>Funciones_Login</display-name>
        <servlet-name>Funciones_Login</servlet-name>
        <servlet-class>BF.Funciones_Login_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_GestionProducto</servlet-name>
        <servlet-class>BF.Funciones_GestionProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session_BF</servlet-name>
        <servlet-class>BF.session_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_Cliente</servlet-name>
        <servlet-class>BF.Funciones_Cliente_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_Generales_BF</servlet-name>
        <servlet-class>BF.Funciones_Generales_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_Proveedor_BF</servlet-name>
        <servlet-class>BF.Funciones_Proveedor_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_Categoria_BF</servlet-name>
        <servlet-class>BF.Funciones_Categoria_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_Marca_BF</servlet-name>
        <servlet-class>BF.Funciones_Marca_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_Usuario_BF</servlet-name>
        <servlet-class>BF.Funciones_Usuario_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_CorteCaja_BF</servlet-name>
        <servlet-class>BF.Funciones_CorteCaja_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_CajonDinero_BF</servlet-name>
        <servlet-class>BF.Funciones_CajonDinero_BF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Funciones_Factura_BF</servlet-name>
        <servlet-class>BF.Funciones_Factura_BF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Funciones_Login</servlet-name>
        <url-pattern>/Funciones_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_GestionProducto</servlet-name>
        <url-pattern>/Funciones_GestionProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session_BF</servlet-name>
        <url-pattern>/session_BF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_Cliente</servlet-name>
        <url-pattern>/Funciones_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_Generales_BF</servlet-name>
        <url-pattern>/Funciones_Generales_BF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_Proveedor_BF</servlet-name>
        <url-pattern>/Funciones_Proveedor_BF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_Categoria_BF</servlet-name>
        <url-pattern>/Funciones_Categoria_BF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_Marca_BF</servlet-name>
        <url-pattern>/Funciones_Marca_BF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_Usuario_BF</servlet-name>
        <url-pattern>/Funciones_Usuario_BF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_CorteCaja_BF</servlet-name>
        <url-pattern>/Funciones_CorteCaja_BF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_CajonDinero_BF</servlet-name>
        <url-pattern>/Funciones_CajonDinero_BF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Funciones_Factura_BF</servlet-name>
        <url-pattern>/Funciones_Factura_BF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
