<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng_include src="'tpl/menu.html'"></div>
        <div class="container">

            <div class="row" id="pwd-container">

                <div class="col-md-4"></div>
                <br>
                <br>
                <br>
                <div class="panel panel-primary">
                    <button class="btn warning" value="Actualizar" ng_click="actualizar();"> Update
                    </button>
                    <div class="panel-title">Gestion de Proveedor</div>
                    <div class="panel-body">
                        Search:
                        <input type ="text" class="form-control" ng_model="search" >
                        <table class="table table-hover table-condensed">
                            <th>
                                Empresa
                            </th>
                            <th>
                                Contacto
                            </th>
                            <th>
                                Telefono
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                E-Mail
                            </th>
                            <th>
                                Nit
                            </th>
                            <th>
                                Ciudad
                            </th>
                            <th>
                                Categorias
                            </th>
                            <th>
                                Accion
                            </th>
                            <tr ng_repeat="proveedor in this.tablaProveedores| filter: search  | startFromGrid: currentPage * pageSize | limitTo: pageSize ">

                                <td>
                                    {{proveedor.empresa}}
                                </td>
                                <td>
                                    {{proveedor.contaco_empresa}}
                                </td>
                                <td>
                                    {{proveedor.telefono_proveedor}}
                                </td>
                                <td>
                                    {{proveedor.direccion_proveedor}}
                                </td>
                                <td>
                                    {{proveedor.mail_proveedor}}
                                </td>
                                <td>
                                    {{proveedor.nit_proveedor}}
                                </td>
                                <td>
                                    {{proveedor.ciudad}}
                                </td>
                                <td>
                                    <button ng_click="categoriasProveedor(proveedor.id_proveedor,proveedor.nit_proveedor)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">Ver</button>     
                                    
                                </td>
                                <td>
                                    <button class="btn warning" ng_click="deleteProveedor(proveedor.id_proveedor)">X</button>
                                    <button ng_click="mostrarProveedor(proveedor.id_proveedor)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                                        Modificar
                                    </button> 
                                    <input type="text" ng_model="idProveedorSeleccionado" hidden="true" value="{{proveedor.id_proveedor}}">
                                </td>
                            </tr>

                        </table>
                        <div class="center-block">
                            <button type='button' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
                            <button type='button' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                            <!-- Navegar hacia adelante -->
                            <button type='button' ng-disabled='currentPage >= data.length / pageSize - 1' ng-click='currentPage = currentPage + 1'>&raquo;</button>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                +
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-lg center-block" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h2 class="h2 text-center label-info">AGREGAR PROVEEDOR</h2>
                    <div class="modal-body">
                        <form ng_submit="saveProveedor();">
                        <label for="empresa">Empresa</label>
                        <input id="empresa" type="text" name="nombreEmpresa" placeholder="Nombre Empresa" 
                               class="form-control input-lg" ng_model="proveedores.empresa" required="true" />    
                        <label for="direccion">Direccion</label>
                        <input id="direccion" type="text" name="direccion" placeholder="Direccion Empresa" 
                               class="form-control input-lg" ng_model="proveedores.direccion_poroveedor" />       
                        <label for="telefono">Telefono</label>
                        <input id="telefono" type="text" name="telefonoEmoresa" placeholder="Telefono Empresa" 
                               class="form-control input-lg" ng_model="proveedores.telefono_proveedor" />    
                        <label for="EMail">EMail</label>
                        <input id="mail" type="email" name="emailEmpresa" placeholder="@" 
                               class="form-control input-lg" ng_model="proveedores.mail_proveedor" required="true"/>    
                        <label for="nit">Nit</label>
                        <input id="nit" type="text" name="nitEmpresa" placeholder="Nit Empresa" 
                               class="form-control input-lg" ng_model="proveedores.nit_proveedor" />    
                        <label for="ciudad">Ciudad</label>
                        <select id="ciudad" class="form-control input-lg" ng_model="proveedores.ciudad">
                            <option  ng_repeat="ciu in ciudades" value="{{ciu.ciudad}}">{{ciu.ciudad}}</option>
                        </select>
                        <label for="contacto">Contacto</label>
                        <input id="Contacto" type="text" name="contactoEmpresa" placeholder="Contacto Empresa" 
                               class="form-control input-lg" ng_model="proveedores.contacto_empresa" />    
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--______________________________________________________________ -->
        <!-- Button trigger modal -->
        <!-- Modal Modificar -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Modificar Proveedor</h4>
                    </div>
                    <div class="modal-body">
                        <label for="empresa">Empresa</label>
                        <input id="empresa" type="text" name="nombreEmpresa" placeholder="Nombre Empresa" 
                               class="form-control input-lg" ng_model="proveedorModificar.empresa" />    
                        <label for="direccion">Direccion</label>
                        <input id="direccion" type="text" name="direccion" placeholder="Direccion Empresa" 
                               class="form-control input-lg" ng_model="proveedorModificar.direccion_proveedor" />       
                        <label for="telefono">Telefono</label>
                        <input id="telefono" type="text" name="telefonoEmoresa" placeholder="Telefono Empresa" 
                               class="form-control input-lg" ng_model="proveedorModificar.telefono_proveedor" />    
                        <label for="EMail">EMail</label>
                        <input id="mail" type="email" name="emailEmpresa" placeholder="@" 
                               class="form-control input-lg" ng_model="proveedorModificar.mail_proveedor" />    
                        <label for="nit">Nit</label>
                        <input id="nit" type="text" name="nitEmpresa" placeholder="Nit Empresa" 
                               class="form-control input-lg" ng_model="proveedorModificar.nit_proveedor" />    
                        <label for="ciudad">Ciudad</label>
                        <select id="ciudad" class="form-control input-lg" ng_model="proveedorModificar.ciudad">
                            <option  ng_repeat="ciu in ciudades" value="{{ciu.ciudad}}">{{ciu.ciudad}}</option>
                        </select>
                        <label for="contacto">Contacto</label>
                        <input id="Contacto" type="text" name="contactoEmpresa" placeholder="Contacto Empresa" 
                               class="form-control input-lg" ng_model="proveedorModificar.contaco_empresa" />   
                        <input type="text" hidden="false" ng_model="proveedorModificar.id_proveedor" value ="{{proveedorModificar.id_proveedor}}">
                        <input type="button" ng_click="modificarProveedor(proveedorModificar.id_proveedor)"/>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <div class="col-md-4"></div>
        <!-- Modal para visualizar las categorias del proveedor -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Categoria Proveedor</h4>
                    </div>
                    <div class="modal-body">
                        
                        <label class="text-uppercase">Buscar:</label>
                        <input class="input-sm" ng_model="buscarCategoria">
                        <input class="input-sm" ng_value="nitProveedor"> 
                        <table class="table-hover table-bordered table-responsive table-condensed tab-content center-block">
                            <th>
                                Codigo
                            </th>
                            <th>
                                Permiso
                            </th>
                            <th>
                                Seleccionado
                            </th>
                            <tr ng_repeat="c in categorias | filter :buscarCategoria">
                                <td> {{c.id_categoria}}</td>
                                <td> {{c.categoria}}</td>
                                <td>
                                    <input type="checkbox" ng_click="clicModificar(c.id_categoria)" ng_checked="{{c.Seleccion}}">
                                    {{c.Seleccion}}
                                </td>
                            </tr>
                        </table>
                        
                        <button ng_click="registrarCategoriasSeleccionadas(modificados,nitProveedor)" name="go" class="btn btn-lg btn-primary btn-block">Ingresar</button>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
